<a href="https://colab.research.google.com/github/BryanPalacio/sales_predict/blob/main/sales_predict_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
filename = '/content/drive/MyDrive/clases_data_science/bostonHousing1978.csv'

In [7]:
filename = '/content/drive/MyDrive/clases_data_science/bostonHousing1978.csv'
df = pd.read_csv(filename)
df.head()

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6
2  7.185   4.03     17.8    34.7
3  6.998   2.94     18.7    33.4
4  7.147   5.33     18.7    36.2

1) ¿Cuántas filas y columnas?

In [8]:
df.shape
#hay 506 filas y 4 columnas

(506, 4)

2) ¿Cuáles son los tipos de datos en cada variable?

In [9]:

df.info()
"""
 0   RM       506 non-null    float64
 1   LSTAT    506 non-null    float64
 2   PTRATIO  506 non-null    float64
 3   target   506 non-null    float64

"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RM       506 non-null    float64
 1   LSTAT    506 non-null    float64
 2   PTRATIO  506 non-null    float64
 3   target   506 non-null    float64
dtypes: float64(4)
memory usage: 15.9 KB

3) ¿Hay duplicados? Si es el caso, eliminen algunos duplicados.

In [12]:
df.duplicated().sum()
#no hay

        RM  LSTAT  PTRATIO  target
0    6.575   4.98     15.3    24.0
1    6.421   9.14     17.8    21.6
2    7.185   4.03     17.8    34.7
3    6.998   2.94     18.7    33.4
4    7.147   5.33     18.7    36.2
..     ...    ...      ...     ...
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

[506 rows x 4 columns]

4) Identifiquen los valores faltantes.

In [13]:
df.isna().sum()
# no  hay datos faltantes

RM         0
LSTAT      0
PTRATIO    0
target     0
dtype: int64

5) Decidan cómo abordar los valores faltantes y cómo hacerlo. (Esto requiere sus criterios, así que expliquen su elección).

In [ ]:
#no aplica

6) Confirmen que no hay valores faltantes después de abordarlos.

In [14]:
df.isna().sum()
"""
RM         0
LSTAT      0
PTRATIO    0
target     0

"""
#no en  encontraron valores faltantes  despues de aplicar 2 veces el filtro

RM         0
LSTAT      0
PTRATIO    0
target     0
dtype: int64

7) Encuentren y arreglen alguna categoría inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent)

In [15]:
df.info()
#todos los datos etan en una categoria correcta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RM       506 non-null    float64
 1   LSTAT    506 non-null    float64
 2   PTRATIO  506 non-null    float64
 3   target   506 non-null    float64
dtypes: float64(4)
memory usage: 15.9 KB

8) Para cualquier columna numérica, obtengan las estadísticas resumidas para cada uno (mínimo, máximo y media)

In [22]:
df["RM"].describe().round(1)

count    506.0
mean       6.3
std        0.7
min        3.6
25%        5.9
50%        6.2
75%        6.6
max        8.8
Name: RM, dtype: float64